h1 a {
        color: #FCA205;
        font-family: 'Alegreya';
    }
body {
        background-color: LightGray;
        padding-left: 15px;
    }

.page-header {
        background-color: #000000;
        margin-top: 0;
        padding: 20px 20px 20px 20px;
		
    }

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        text-decoration: none;
    }

.content {
        margin-left: 0px;
    }

h1, h2, h3, h4 {
        font-family: 'Alegreya', cursive;
    }

.date {
        float: right;
        color: #828282;
    }

.save {
        float: right;
    }

.post-form textarea, .post-form input {
        width: 100%;
    }

.top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin-right: 20px;
    }

.post {
        background-color: lightblue;
        margin-bottom: 0px;
		padding: 20px 20px 20px 20px;
		border-style: inset;
		border-radius: 15px;
    }
.comment {
    background-color: #F7DC6F;
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    border-style: inset;
	border-radius: 15px;
}
.post h1 a, .post h1 a:visited {
        color: #000000;
    }
hr {
  height: 5px;
  background-color: red;
}

.botonera {width: 1500px;
background: #FF4;border: 2px solid #000;
float: left;}

/*ul.movies-widget div.info {color:#000;}
ul.movies-widget div.info strong {color:#000;}
ul.programas-widget div.info p {color:#000;}*/

/*
ul.pelilist                { width: 775px; height: auto; float: left; margin: 5px 0 0 0; text-align: center;}
ul.pelilist  li            { height: 245px; float: left; padding: 0 0 0 5px;}
ul.pelilist  li img        { width: 130px; height: 180px; border: 1px solid #d5d6d8; padding: 2px;}
ul.pelilist  li img:hover  { opacity: 0.7;}
ul.pelilist  li h2         { font-size: 13px; font-weight: 600; line-height: 0; padding: 15px 0 3px 0;}
ul.pelilist  li span       { font-size: 10px; color: #555; font-weight: normal; font-style: italic; }
*/
/* -- Page Box -- */
.page-box            { width: 775px; height: auto; float: left; margin-bottom: 25px; background: #FFF; border-top: 5px solid #000; border-bottom: 5px solid #d5d6d8; padding: 25px; }
.page-box h3, .page-box h1         { font-size: 20px; font-weight: normal; color: #94979c; border-bottom: 5px solid #d5d6d8; padding-bottom: 15px;}
.page-box h3 strong, .page-box h1 strong  { color: #000; font-weight: bold;}

.header {
 background-color:#000;
 color:#fff;
 height:100px;
 top:0;
 width:100%;
 z-index:1000;
}
.header.scrolled {
 background-color:rgba(0,0,0,0.6);
}

.header .wrapper {
 position:relative;
}
.header .wrapper * {
 display:inline-block;
}
.header .wrapper .logo-container {
 background-position:0 0;
 background-size:auto 100%;
 height:65px;
 margin:10px 5px;
 width:260px;
}
.header .wrapper .logo-container a {
 display:block;
 height:65px;
 width:260px;
 text-indent:-500em;
}


.menu{
  font-size: 18pt;
  font-family:'FontAwesome'!important;}


.header .wrapper  {
 margin:0;
}
.header .wrapper .menu ul {
 margin:0;
 padding:0;
}

.header .wrapper .menu ul .menu-item {
 border-bottom:0 solid transparent;
 box-sizing:border-box;
 display:inline-block;
 height:85px;
 margin-right:35px;
 text-transform:uppercase;
 transition:all 0.2s ease;
 vertical-align:top;

}
.header .wrapper .menu ul .menu-item.active,.header .wrapper .menu ul .menu-item:hover {
 border-bottom:10px solid #01b5ff;
}
.header .wrapper .menu ul .menu-item.logo:hover {
 border-bottom:none;
}
.header .wrapper .menu ul .menu-item.mobile {
 box-sizing:content-box;
 cursor:pointer;
 font-family:'FontAwesome'!important;
 height:40px;
 margin:20px 0;
 padding:3px 5px;
 width:40px;
}
.header .wrapper .menu ul .menu-item.mobile:before {
 content:'\f0c9';
 font-size:2.5em;
}
.header .wrapper .menu ul .menu-item.mobile:hover {
 border-bottom:none;
 color:#01b5ff;
}
.header .wrapper .menu ul .menu-item.search {
 border-left:1px solid #fff;
 box-sizing:content-box;
 cursor:pointer;
 height:40px;
 margin:20px 0;
 padding:5px;
 text-align:center;
 width:40px;
}
.header .wrapper .menu ul .menu-item.search:before {
 content:'\f002';
 font-family:'FontAwesome'!important;
 font-size:1.5em;
 line-height:1.6;
}
.header .wrapper .menu ul .menu-item.search:hover {
 border-bottom:none;
}
.header .wrapper .menu ul .menu-item.search:hover:before {
 color:#01b5ff;
}
.header .wrapper .menu ul .menu-item a {
 color:#fff;
 text-decoration:none;
 padding:35px 0;
}
.submenu {
  background-color:  #A4A4A4;
  color:#fff;
}
.right {
    position: absolute;
    right: 0;
    top: 0;
    margin-right:55px


}

.t_enlaces {
 text-align: center;
 background-color: #A4A4A4;
}
.tenlace {text-align: center; background-color: #F7819F; }

div.titulo {
 /*border:1px solid #808080;*/
 background-color: #0B0B3B;
 /*box-sizing:content-box;*/
 height:140px;
 /*margin:20px 0;*/
 width:100%;
 color = white;
 display: flex;
 justify-content: center;
 align-content: center;
 text-align: center;
 flex-direction: column;
 font-size: 45px;

 /*padding:3px 5px;*/
}
div.poster {border:1px solid #808080;
            width:25%;
            height: auto !important;
            heigth:400px;
            float:left;display:table-cell;vertical-align:middle;}
div.ficha {border:1px solid #808080;width:75%;
           min-height: 400px;
           height: auto !important;
           heigth:400px;
           background-color: #BDBDBD;
           float:left;
           font-size: 20px;}
div.enlaces{border:1px solid #808080;;width:100%;height:auto;float:left;font-size: 20px;}

.Peli {
 background-color: #424242;
 /*position: absolute;*/
 /*nos posicionamos en el centro del navegador*/
 min-height: 800px;
 height: auto !important;
 height:800px;
 width:1100px;
 margin-left: 200px;

 padding:5px;
}
 .container
{
 padding-left: 0px;
 margin: 0px;
 width: 1500px;
 min-height: 400px;
 height: auto !important;
 height:400px;

}

.lista_pelis {
width: 100%;
list-style: fine; background-color: #F7DC6F;
margin : 5px;
}

.contenido {
 align: center;
 height:80%;
 width:80%;
 margin-left:10%;
 margin-top:10px;
 background-color: #E0C9FA;
 }


 .busqueda {
 align: center;
 min-height: 200px;
 height: auto !important;
 height:200px;
 width:1100px;
 margin-left:200px;
 margin-top:10px;
 background-color: #A5DF00;

 padding-left:10px;
 padding-right:10px;
 padding-top:4px;
 padding-bottom:4px;
 }

 .resultados {
  align: center;
  width:1100px;
  min-height: 300px;
  height: auto !important;
  height:300px;
  background-color: #A9D0F5;
  margin-left:200px;
  margin-top:10px;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  padding-bottom:8px;
 }

 h1.resul {
  background-color: #9FF781;
  margin-left:0px;
  margin-top:0px;
  padding-left:0px;
  text-align: center
 }

ul.pelilist                { width: 1500px; height: auto; float: left; margin: 5px 0px 0px 0px; text-align: center;  background-color: #E0C9FA;}
ul.pelilist  li            { height: 250px; float: left; padding: 0 0 0 15px;margin:0px;list-style: none;}
ul.pelilist  li img        { width: 130px; height: 180px; border: 1px solid #d5d6d8; padding: 2px;}
ul.pelilist  li img:hover  { opacity: 0.7;}
ul.pelilist  li h2         { width:130px; font-size: 13px;margin:0px; font-weight: 600; line-height: 14px; padding: 0px 0 0px 0;}
ul.pelilist  li span       { font-size: 10px; color: #555; line-height: 4px;font-weight: normal; font-style: italic; }

ul.pelires                { width: 1100px; height: auto; float: left; margin: 5px 0 0 0; text-align: center;}
ul.pelires  li            { height: 245px; float: left; padding: 0 0 0 5px; margin:0px;list-style: none;}
ul.pelires  li img        { width: 130px; height: 180px; border: 1px solid #d5d6d8; padding: 2px;}
ul.pelires  li img:hover  { opacity: 0.7;}
ul.pelires  li h2         { width:130px; font-size: 13px;margin:0px; font-weight: 600; line-height: 14px; padding: 0px 0 0px 0; color: #F70105; font-family: 'Alegreya', cursive;}
ul.pelires  li span       { font-size: 10px; color: #555; font-weight: normal; font-style: italic; }

.tit {width:20%; vertical-align:top; font-weight: bold; color: #08088A}
.des {width:80%; vertical-align:top; color: #0B6138}
div.pagination { width:100%; text-align: center;}
div.letras { width:100%; text-align: center;}
ul.pagination { text-align: center;}
li.pagination { text-align: center;}

ul.letras { text-align: center;}
li.letras { text-align: center;}




ul.pagination  li a   { width:30px; font-size: 12px;margin:0px; font-weight: 600; line-height: 14px; padding: 0px 0 0px 0;}
ul.letra  li a   { width:50px; font-size: 12px;margin:0px; font-weight: 600; line-height: 14px; padding: 0px 0 0px 0;}