{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>VISERPEL - Peliculas</title>
    </head>

    <body>
        <header class="header" >

                <nav class="navbar navbar-inverse" >
                  <div class="container-fluid" >
                    <div class="wrapper" >
                        <figure class="logo-container">
                            <img src="{% static 'imagenes/logo_viserpel1.png' %}">
                        </figure>
                    </div>
                    <div class="menu-mobile" >
                    <ul class="nav navbar-nav menu right" >
                      <li class="menu-item"><a class="menu-item" href="/">Inicio</a></li>
                      <li class="dropdown menu-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Busquedas <span class="caret"></span></a>
                        <ul class="dropdown-menu submenu">
                          <li class="menu-item"><a  class="menu-item" href="{% url 'busqueda' %}">Busqueda BBDD</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'busqueda' %}">Busqueda MejorTorrent</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'busqueda' %}">Busqueda NewPct1</a></li>
                        </ul>
                      </li>
                      <li class="dropdown menu-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Cargas <span class="caret"></span></a>
                        <ul class="dropdown-menu submenu">
                          <li class="menu-item"><a  class="menu-item" href="{% url 'pagina_carga' %}">Carga Proveedor</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'actualiza_pelis' %}">Actualizar Fichas</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'listar_pelis' %}">Peliculas sin Ficha</a></li>
                          {% block submenu1 %}
                          {% endblock %}
                        </ul>
                      </li>
                      <li class="dropdown menu-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuración <span class="caret"></span></a>
                        <ul class="dropdown-menu submenu">
                          <li class="menu-item"><a  class="menu-item" href="#">General</a></li>
                          <li class="menu-item"><a  class="menu-item" href="#">Otras opciones</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'limpia_imagenes' %}">Limpiar Imagenes</a></li>
                          {% block submenu2 %}
                          {% endblock %}
                        </ul>
                      </li>


                <!--
                <nav class="menu right">
                    <ul>
                        <div class="menu-mobile">
                            <li class="menu-item"><a href="/" class="menu_item">Inicio</a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Busquedas <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="{% url 'busqueda' %}">Busqueda BBDD</a></li>
                                  <li><a href="{% url 'busqueda' %}">Busqueda MejorTorrent</a></li>
                                  <li><a href="{% url 'busqueda' %}">Busqueda NewPct1</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="{% url 'busqueda' %}" class="menu_item">Busqueda</a></li>-->
                            {% block menu %}
                            {% endblock %}
                         </ul>
                     </div>


                  </div>
                </nav>
        </header>
        <section class = "contenido">
            <div class="content container" >
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </body>


</html>