{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Viserpel - Peliculas {% endblock %}</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


        <link href="{% static 'bootstrap/css/local.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/vi_peli.css' %}">


        {% block head %}
        {% endblock %}

    </head>

    <body>
        <header class="header" >
                <nav class="navbar navbar-inverse" >
                  <div class="container-fluid" >
                    <div class="wrapper" >
                        <figure class="logo-container">
                            <img src="{% static 'imagenes/logo_viserpel1.png' %}">
                        </figure>
                    </div>
                    <div class="menu-mobile" >

                    <ul class="nav navbar-nav menu right" >
                      <li class="menu-item">
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Buscador">
                            </div>
                            <button type="submit" class="btn btn-default">Buscar</button>
                        </form>
                      </li>
                      <li class="menu-item"><a class="menu-item" href="/">Inicio</a></li>
                      <li class="dropdown menu-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Busquedas <span class="caret"></span></a>
                        <ul class="dropdown-menu submenu">
                          <li class="menu-item"><a  class="menu-item" href="{% url 'vi_peli:busqueda' %}">Busqueda BBDD</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'vi_peli:busqueda' %}">Busqueda MejorTorrent</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'vi_peli:busqueda' %}">Busqueda NewPct1</a></li>
                        </ul>
                      </li>
                      <li class="dropdown menu-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Cargas <span class="caret"></span></a>
                        <ul class="dropdown-menu submenu">
                          <li class="menu-item"><a  class="menu-item" href="{% url 'vi_peli:pagina_carga' %}">Carga Proveedor</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'vi_peli:actualiza_pelis' %}">Actualizar Fichas</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'vi_peli:listar_pelis' %}">Peliculas sin Ficha</a></li>
                          {% block submenu1 %}
                          {% endblock %}
                        </ul>
                      </li>
                      <li class="dropdown menu-item"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuración <span class="caret"></span></a>
                        <ul class="dropdown-menu submenu">
                          <li class="menu-item"><a  class="menu-item" href="#">General</a></li>
                          <li class="menu-item"><a  class="menu-item" href="#">Otras opciones</a></li>
                          <li class="menu-item"><a  class="menu-item" href="{% url 'vi_peli:limpia_imagenes' %}">Limpiar Imagenes</a></li>
                          {% block submenu2 %}
                          {% endblock %}
                        </ul>
                      </li>

                            {% block menu %}
                            {% endblock %}
                         </ul>
                     </div>


                  </div>
                </nav>
        </header>


            <div class="content">
                <div class="row" >
                    <div class="col-md-1"></div>
                    <div class="col-md-10 contenido">
                    {% block cabecera %}
                    {% endblock %}
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row" >
                    <div class="col-md-1"></div>
                    <div class="col-md-10 contenido">
                    {% block content %}
                    {% endblock %}
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row" >
                    <div class="col-md-1"></div>
                    <div class="col-md-10 contenido">
                    {% block pie %}
                    {% endblock %}
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

        <footer>
            by Vicente Sánchez
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {% block scripts %}
        {% endblock %}
    </body>


</html>