{% load bootstrap3 %}
{% block content %}
<section>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal-->

    <form method="POST" class="form">{% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
    </form>
</section>
{% endblock %}


