{% extends 'vi_peli/base.html' %}
{% load staticfiles %}
    {% block menu %}
    {% endblock %}


        {% block cabecera %}
            <div class="alert alert-info text-center">
                <h2>LISTA DE PELICULAS</h2>
            </div>
            <div class="cab-pag-let">
                {% include 'vi_peli/letras.html' %}
                {% include 'vi_peli/pagination.html' %}
            </div>
        {% endblock %}
        {% block content %}
             <ul class = "pelilist">
            {% for peli in page.object_list %}
                    <li>

                        <a href="{% url 'vi_peli:ficha' pk=peli.pk tabla='Ficha' %}">
                            <img src="{% static peli.imagen %}"   width="130" height="180">
                            <h2>{{ peli.titulo.capitalize }}</h2>
                            <!--<span>{{ peli.calidad }}</span>-->
                        </a>

                    </li>
            {% empty %}
                <h2><b>No hay películas todavía</b></h2>
            {% endfor %}
            </ul>
        {% endblock %}

        {% block pie %}
            {% include 'vi_peli/pagination.html' %}
        {% endblock %}

