{% extends 'vi_peli/base.html' %}
{% load staticfiles %}

    {% block content %}

    <section class="container">
        <div class="lista_pelis">
            <CENTER><h2>LISTA DE PELICULAS</h2></CENTER>
            {% include 'vi_peli/letras.html' %}
            {% include 'vi_peli/pagination.html' %}
             <ul class = "pelilist">
        {% for peli in page.object_list  %}
            <li>
                <a href="{% url 'act_peli' pk=peli.id %}">

                            <h2>{{ peli.titulo.capitalize }} - {{peli.id}}</h2>
                            <span>{{ peli.calidad }}</span>
                </a>
            </li>
        {% empty %}
            <h2><b>No hay películas todavía</b></h2>
        {% endfor %}
            </ul>
        {% include 'vi_peli/pagination.html' %}
    </section>

    {% endblock %}
